src/main/resources/hu/keve/jgc/jgc_book.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.gnucash.org/XML/book"
	xmlns:slot="http://www.gnucash.org/XML/slot"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import schemaLocation="jgc.xsd" />
	<xs:import namespace="http://www.gnucash.org/XML/slot"
		schemaLocation="jgc_slot.xsd" />

	<xs:complexType name="bookType">
		<xs:sequence>
			<xs:element name="id" type="idType" />
			<xs:element minOccurs="0" name="slots"
				type="slot:slotsType" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>